__pycache__/
bin/
include/

lib/
lib64
pyvenv.cfg

/active/*
!/active/README

/instances/*
!/instances/README

/source_mods/*
!/source_mods/README

service_account.json
todds
cached_instance_name
response.json
.env