ansicolors==1.1.8
cachetools==5.5.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
google-auth==2.34.0
google-auth-oauthlib==1.2.1
gspread==6.1.2
humanize==4.10.0
idna==3.7
inquirerpy==0.3.4
numpy==2.1.1
oauthlib==3.2.2
pfzy==0.3.4
pip-autoremove==0.10.0
prompt_toolkit==3.0.47
pyasn1==0.6.0
pyasn1_modules==0.4.0
python-dotenv==1.0.1
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
setuptools==75.1.0
urllib3==2.2.2
wcwidth==0.2.13
xmltodict==0.13.0
