cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
google-auth==2.35.0
google-auth-oauthlib==1.2.1
gspread==6.1.4
humanize==4.11.0
idna==3.10
inquirerpy==0.3.4
numpy==2.1.2
oauthlib==3.2.2
pfzy==0.3.4
prompt_toolkit==3.0.48
pyasn1==0.6.1
pyasn1_modules==0.4.1
python-dotenv==1.0.1
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
urllib3==2.2.3
wcwidth==0.2.13
xmltodict==0.14.2
